@page
@model ASC.Web.Areas.Identity.Pages.Account.Manage.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_SecureLayout.cshtml";
}

<div class="row">
    <div class="col s12"><h4 class="brown-text">Change Password</h4></div>
</div>

@if (Model.StatusMessage != null)
{
    <div class="row"><div class="col s12">
        <div class="card-panel green lighten-4 green-text text-darken-2 auto-dismiss">
            <i class="material-icons tiny">check_circle</i> @Model.StatusMessage
        </div>
    </div></div>
}

<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card-content">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="red-text"></div>

                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input asp-for="Input.OldPassword" type="password" id="oldpwd" class="validate" />
                        <label asp-for="Input.OldPassword" for="oldpwd">Current Password</label>
                        <span asp-validation-for="Input.OldPassword" class="helper-text red-text"></span>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">lock_open</i>
                        <input asp-for="Input.NewPassword" type="password" id="newpwd" class="validate" />
                        <label asp-for="Input.NewPassword" for="newpwd">New Password</label>
                        <span asp-validation-for="Input.NewPassword" class="helper-text red-text"></span>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">lock_outline</i>
                        <input asp-for="Input.ConfirmPassword" type="password" id="cpwd" class="validate" />
                        <label asp-for="Input.ConfirmPassword" for="cpwd">Confirm New Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="helper-text red-text"></span>
                    </div>

                    <div style="margin-top:20px">
                        <button type="submit" class="btn brown darken-2 waves-effect">
                            <i class="material-icons left">save</i>Update Password
                        </button>
                        <a href="/ServiceRequests/Dashboard/Dashboard" class="btn-flat">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
